---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Lambda!"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Hello wanderers! Welcome to my little personal corner of the internet. I'm known to some 
		as Zorawar, but you can call me Lambda. I put *uomq* for my username for most websites and 
		usernames because its short and almost always available as a username, and lambda is unfortunently
		quite commonly taken, so here I am and here you are. I'm a software developer, wannabe sysdev/devops,
		tech enthusiast, newby homelabber. I also enjoy working on circuitry, robotics, and just about anything.
		
	</p>

	<p>
		I created this blog to try to document all my projects, experiments, and attempts at failed
		ventures. I also want to use this blog to share my knowledge and experiences with others who may
		be curious how to get started with similar projects as me or just try to learn something new.
		I personally was inspired to create a blog by seeing another developer's blog who inspired some 
		of my own projects, mainly my decision to venture into homelabbing, but this isn't about them,
		its about my exploits! So here we are.
	</p>

	<p>
		On the educational side, I am currently a HS senior in upstate NY, pursuing a future in a field 
		relating to computers, because I just love them. Nothing really clicks to me the same way they do.
		I am mostly self taught, starting from my teachers suggestion to learn basic programming concepts
		like vars, loops, etc using js in khanacademy, and have since moved on to an adequate understanding
		of java, python, js, html/css, using bash, and a tad bit of ts/golang. I am currently learning C++. 
		Hopefully I can get a cool c++ project on here to share.
	</p>

	<p>
		I will probably be quite slow on posting on here, as I am still learning how to blog, and I just
		started working on my college applications, so bear with me. I hope you enjoy my content, and if
		you have any questions or would like to get in contact with me, please feel free to reach out 
		through my socials that are linked.
	</p>
</Layout>
